{% extends 'cliente/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post }}
            </div>
            <h1><a href="">{{ post.title | linebreaks }}</a></h1>
            <p>Sobrenome: {{post.last_name}}</p>
            <p>Endereço: {{post.endereco}}</p>
    		<p>Complemento: {{post.complemento}}</p>
    		<p>Bairro: {{post.bairro}}</p>
    		<p>Cidade: {{post.cidade}}</p>
    		<p>CPF: {{post.cpf}}</p>
    		<p>RG: {{post.rg}}</p>
    		<p>----------</p>
        </div>
    {% endfor %}
{% endblock content %}